#about-page{
    margin-top: 0px;
}
#about-page #card {
    max-width: 100%;
    min-width: 250px;
    width: 100%;
}
#icons i {
    color: #0a616a;
    margin-top: -10px;
}
#icons i:hover{
    color: #114448;
}

@media only screen and (max-width: 600px) {
    #about-page{
        margin-top: 0px;
        overflow: hidden;
    }
    #about-page #card {
        max-width: 100%;
        min-width: 350px;
        width: 100%;
    }
    #about-page #card i{
        text-align: center;
        margin:2px
    }
}