#about-page{
    margin-top: 0px;
}
#about-page #card {
    max-width: 100%;
    min-width: 250px;
    width: 100%;
}
#about-page #card img{
    border-radius: 50%;
    max-width: 150px;
}
.profile img{
    width: 90%;
}
#icons i {
    color: #195780;
    margin-top: -10px;
}
#icons i:hover{
    color: #111e48;
}

@media only screen and (max-width: 600px) {
    #about-page #card {
        max-width: 100%;
        min-width: 350px;
        width: 100%;
    }
    #about-page #card i{
        text-align: center;
        margin:2px
    }
}